{extend name='stencil/zz' /}

{block name='main'}
<main id="body">
    <div class="container">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/rainbow.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
        <div class="row">
            <div class="col-lg-9 main">

                <ol class="breadcrumb d-none d-md-flex">
                    <li class="breadcrumb-item"><a rel="nofollow" href="./" aria-label="首页"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a rel="nofollow" href="forum-1.htm">{$info.id}</a></li>
                    <li class="breadcrumb-item active"><a rel="nofollow" href="thread-1.htm" title="首页返回主题第一页">{$info.title}</a></li>

                </ol>


                <div class="card card-thread">
                    <div class="card-body">
                        <div class="media">
                            <a rel="nofollow" href="user-1.htm" tabindex="-1">
                                <img class="avatar-3 mr-3" src="/{$info.minthumb}">
                            </a>
                            <div class="media-body">

                                <h4 class="break-all">

                                    {$info.title}

                                </h4>

                                <div class="d-flex justify-content-between small">
                                    <div>

								<span class="username">
									<a rel="nofollow" href="user-1.htm" class="text-muted font-weight-bold">{$info.author}</a>
								</span>
                                        <span class="date text-grey ml-2">{$info.create_time}</span>
                                        <!--<span class="text-grey ml-2"><i class="icon-eye"></i> 5</span>-->

                                    </div>
                                    <div>



                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="message break-all" isfirst="1">
                        <div class="">
                            {$info.content|raw}

                        </div>
                        </div>


                        <div class="plugin d-flex justify-content-center mt-3">

                            <style>
                                .haya-favoriter {
                                    position: relative;
                                }
                                .haya-favorite-show-users {
                                    position: absolute;
                                    top: 5px;
                                    z-index: 100;
                                    width: 100%;
                                }
                                .haya-favorite-show-users .haya-favorite-users {
                                    max-height: 250px;
                                    overflow-y: auto;
                                }
                            </style>



                        </div>
                        <div class="haya-favoriter">
                            <div class="text-center d-none haya-favorite-show-users">
                                <div class="text-left m-0 p-0 col-md-6 mx-auto">
                                    <div class="modal-content">
                                        <div class="modal-header small">
                                            <b>收藏的用户（<span class="haya-favorite-user-count">1</span>）</b>

                                            <span class="close small p-3 haya-favorite-close js-haya-favorite-show-users" data-dismiss="dodal">X</span>
                                        </div>

                                        <div class="modal-body p-3">
                                            <div class="text-muted haya-favorite-users small break-all">
                                                <div class="text-muted">正在加载信息~</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="card card-postlist">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <b>最新回复</b> (<span class="posts">17</span>)
                                    <!--记录评论数-->
                                </div>

                                <div>

                                </div>
                            </div>
                        </div>
                        <ul class="list-unstyled postlist">

                            <li class="post newpost media">
                                <a rel="nofollow" href="user-55.htm" class="mr-3" tabindex="-1">
                                    <img class="avatar-3" src="/{$info.minthumb}">
                                </a>
                                <div class="media-body">
                                    <div class="d-flex justify-content-between small text-muted">
                                        <div>
                                            <div>wjk</div>
                                        </div>
                                        <div>
                                            <span class="floor" id="newfloor">19</span>楼								</div>
                                    </div>
                                    <div>
                                        <form action="post-create-1-1.htm" method="post" id="quick_reply_form" class="d-block">
                                            <input type="hidden" name="doctype" value="1" />
                                            <input type="hidden" name="return_html" value="1" />
                                            <input type="hidden" name="quotepid" value="0" />

                                            <!--<div class="message mt-1">-->
                                                    <!--<textarea class="form-control" placeholder="内容" name="message" id="message"></textarea>-->
                                            <!--</div>-->
                                            <div class="message form-group">
                                                <!--<textarea name="message" id="message" cols="30" rows="10"></textarea>-->
                                                <label class="control-label" name="message" id="message">内容</label>
                                                <div class="col-sm-10">
                                                    <!--<textarea name="content" style="height: 300px;" id="editor1" class="form-control"></textarea>-->
                                                    <scripyt id="editor1" name="message" type="text/plain"></scripyt>
                                                </div>
                                            </div>

                                            <div class="text-muted mt-2 small">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <div class="media my-1">
                                                            <form action="/login/login_post" method="post">
                                                                <input type="text" class="input" name="captcha" placeholder="填写右侧的验证码" data-validate="required:请填写右侧的验证码"  style="width: 200px;"/>
                                                                <img src="{:captcha_src()}" alt="captcha" width="121" height="32" class="passcode" onclick="this.src=this.src+'?'"/>




                                                                <!--<div class="media-body col-lg-6 p-0">-->
                                                                <!--<div class="form-group input-group">-->
                                                                    <!--<div class="input-group-prepend">-->
                                                                        <!--<span class="input-group-text"><i class="icon-barcode"></i></span>-->
                                                                    <!--</div>-->
                                                                    <!--<input type="text" class="form-control " placeholder="验证码" name="vcode">-->
                                                                <!--</div>-->
                                                            <!--</div>-->
                                                            <!--<div class="align-self-center ml-1">-->
                                                                <!--<div class="form-group input-group">-->
                                                                    <!--<div><img src="{:captcha_src()}" alt="captcha" /></div>-->
                                                                    <!--<span id="tishi"></span>-->
                                                            <!--</div>-->
                                                        <!--</div>--><button type="submit" class="btn btn-sm btn-secondary" id="submit" data-loading-text="正在提交..."> 回帖 </button>

                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>


                <div class="d-none threadlist"><input type="checkbox" name="modtid" value="1" checked /></div>




                <a rel="nofollow" role="button" class="btn btn-secondary btn-block xn-back col-lg-6 mx-auto mb-3" href="javascript:history.back();">返回</a>

            </div>
            <div class="col-lg-3 d-none d-lg-block aside">

                <a rel="nofollow" role="button" class="btn btn-primary btn-block mb-3" href="{:url('index/article/add')}">发布新主题</a>

                <div class="card card-user-info">
                    <div class="m-3 text-center">
                        <a rel="nofollow" href="user-1.htm" tabindex="-1">
                            <img class="avatar-5" src="/{$info.thumb}">
                        </a>
                        <h5><a rel="nofollow" href="user-1.htm">好好学习</a></h5>

                    </div>
                    <!--<div class="card-footer p-2">-->
                        <!--<table class="w-100 small">-->
                            <!--<tr align="center">-->
                                <!--<td>-->
                                    <!--<span class="text-muted">主题数</span><br>-->
                                    <!--<b>2</b>-->
                                <!--</td>-->

                                <!--<td>-->
                                    <!--<span class="text-muted">帖子数</span><br>-->
                                    <!--<b>1</b>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<span class="text-muted">精华数</span><br>-->
                                    <!--<b>0</b>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<span class="text-muted">注册排名</span><br>-->
                                    <!--<b>1</b>-->
                                <!--</td>-->

                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
                </div>

                <div class="form-group">
                    <form action="search.htm" id="search_form">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="关键词" name="keyword">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{/block}

{block name='css'}
<link href="/static/ui/library/ue/themes/default/css/ueditor.css" type="text/css" rel="stylesheet">

{/block}





{block name='script'}
<script src="/static/ui/library/ue/ueditor.config.js"></script>
<script src="/static/ui/library/ue/ueditor.all.js"></script>
<script type="text/javascript">


    var ue = UE.getEditor('message', {
        serverUrl:"{:url('index/Article/umUploadImage')}",
        toolbars:[[
            'fullscreen', 'source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
            'directionalityltr', 'directionalityrtl', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
            'simpleupload', 'insertimage', 'emotion', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe', 'insertcode', 'webapp', 'pagebreak', 'template', 'background', '|',
            'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
            'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
            'print', 'preview', 'searchreplace', 'drafts', 'help'
        ]],
        initialFrameWidth: '100%',
        maximumWords: 20000,
        initialFrameHeight:'350'
    });
    // ajax 操作验证码  失败！！！！
        //
        // $("#vcode").blur(function(){
        //     var vcode = $(this).val(); //找到这个文本框中的值
        //     $.ajax({
        //         url:"__ACTION__",  //发送给他自己
        //         data:{vcode:vcode}, //将文本框中的值传过去
        //         type:"POST",  //传输方式
        //         dataType:"TEXT",
        //         success: function(data){
        //             if(data.trim()=="ok")
        //             {
        //                 //返回成功过就输出提示信息
        //                 $("#tishi").html("验证通过！");
        //                 $("#tishi").css("color","green");
        //             }
        //             else
        //             {
        //                 //否则就返回错误的提示信息
        //                 $("#tishi").html("验证码输入错误！");
        //                 $("#tishi").css("color","red");
        //             }　　　　　　　　　　　　　　　　//返回成功后的操作
        //         }
        //     })
        // })
</script>

{/block}