

<!DOCTYPE html>
<html lang="zh-cn">
<head>




    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="description" content="我爱学习，我爱编程，学习编程使我快乐；学习爽，编程爽，一直学习编程一直爽；生命不止，学习不止！" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <title>个人中心</title>




    <style>
        table.nav_tag_list {margin-bottom: 0.2rem;}
        table.nav_tag_list td {padding: 0.3rem;}
        table.nav_tag_list td a{margin-right: 0.2rem;}
        .nav_tag_list .active {font-weight: normal}
        .tag_option {
            border: 1px solid #bbb; padding: 1px 10px; border-radius: 10px; text-decoration: none;
        }
        .tag_option:active, .tag_option.active {
            border: 1px solid #000; background: #000; color: #fff; text-decoration: none;
        }
    </style>
    <link rel="stylesheet" href="/static/ui/xbt/css/bootstrap.css?1.0">



    <link rel="stylesheet" href="/static/ui/xbt/css/bootstrap-bbs.css?1.0">


    <!--<link href="plugin/gmchina_xiuno_editormd/editormd/editormd.min.css" type="text/css" rel="stylesheet" />-->
    <link href="http://ss.imshusheng.com/static/editormd/css/editormd.min.css" type="text/css" rel="stylesheet" />
    <style>
        /*
        box-shadow: 0 0 5px red;
        */
        @keyframes xndigest {
            0% { color: red; text-shadow: 0 0 3px #FF8D8D;}
            20% { color: orange; text-shadow: 0 0 3px #FFE1AD;}
            40% { color: green; text-shadow: 0 0 3px #B3FFAF;}
            65% { color: blue; text-shadow: 0 0 3px #AFE4FF;}
            80% { color: purple; text-shadow: 0 0 3px #FFC9F3;}
            100% { color: red; text-shadow: 0 0 3px #FF8D8D;}
        }

        /*水晶闪烁效果 占内存*/
        i.icon-diamond.flash{color: #D53D38;  /*animation: xndigest 5s linear infinite;*/ }

        i.icon-digest-1 {  text-shadow: 0 0 3px #AFE4FF; }
        i.icon-digest-2 {  text-shadow: 0 0 3px #FFF177; }
        i.icon-digest-3 {  text-shadow: 0 0 3px #FF8D8D; }
        .icon-digest-1:before { content: "\f219";  color: #5BC0DE;} /* "\f0a5" */
        .icon-digest-2:before { content: "\f219";  color: #ECA541;}
        .icon-digest-3:before { content: "\f219"; color: #D53D38;}
        .icon-digest-3:afteer { content: "精"; color: #D53D38;}
    </style><style>
    /*
    .toggle_more {
        max-height: 100px;
    }
    */
    .update_log_list a.update_log_history,
    .update_log_list a.update_log_delete {
        display: none;
    }

    .update_log_list > li:hover {
        background: var(--gray-300);
    }
    .update_log_list > li:hover > a.update_log_history,
    .update_log_list > li:hover > a.update_log_delete {
        display: inline-block;
    }

</style>

</head>

<body>




<header class="navbar navbar-expand-lg navbar-dark bg-dark" id="header">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="navbar_collapse" aria-expanded="false" aria-label="展开菜单">
            <span class="navbar-toggler-icon"></span>
        </button>



        <a class="navbar-brand text-truncate" href="./">
            <!--<img src="view/img/logo.png" class="logo-2">-->
            <span class="hidden-lg">{$list->nickname}</span>
        </a>



        <a class="navbar-brand hidden-lg" href="thread-create-0.htm" aria-label="发表主题"><i class="icon-edit icon"></i></a>



        <div class="collapse navbar-collapse" id="nav">
            <!-- 左侧：版块 -->
            <ul class="navbar-nav mr-auto">

                <li class="nav-item home" fid="0" data-active="fid-0"><a class="nav-link" href="."><i class="icon-home d-md-none"></i> 首页</a></li>


                <li class="nav-item" fid="1" data-active="fid-1">
                    <a class="nav-link" href="forum-1.htm"><i class="icon-circle-o d-md-none"></i> 闲聊</a>
                </li>


                <li class="nav-item" fid="2" data-active="fid-2">
                    <a class="nav-link" href="forum-2.htm"><i class="icon-circle-o d-md-none"></i> PHP</a>
                </li>


                <li class="nav-item" fid="3" data-active="fid-3">
                    <a class="nav-link" href="forum-3.htm"><i class="icon-circle-o d-md-none"></i> Java</a>
                </li>


                <li class="nav-item" fid="4" data-active="fid-4">
                    <a class="nav-link" href="forum-4.htm"><i class="icon-circle-o d-md-none"></i> Python</a>
                </li>


                <li class="nav-item" fid="5" data-active="fid-5">
                    <a class="nav-link" href="forum-5.htm"><i class="icon-circle-o d-md-none"></i> 前端</a>
                </li>


                <li class="nav-item" fid="8" data-active="fid-8">
                    <a class="nav-link" href="forum-8.htm"><i class="icon-circle-o d-md-none"></i> UI</a>
                </li>


                <li class="nav-item" fid="11" data-active="fid-11">
                    <a class="nav-link" href="forum-11.htm"><i class="icon-circle-o d-md-none"></i> 服务器</a>
                </li>


                <li class="nav-item" fid="13" data-active="fid-13">
                    <a class="nav-link" href="forum-13.htm"><i class="icon-circle-o d-md-none"></i> 数据库</a>
                </li>


                <li class="nav-item" fid="9" data-active="fid-9">
                    <a class="nav-link" href="forum-9.htm"><i class="icon-circle-o d-md-none"></i> 相亲</a>
                </li>


                <li class="nav-item" fid="10" data-active="fid-10">
                    <a class="nav-link" href="forum-10.htm"><i class="icon-circle-o d-md-none"></i> 求职招聘</a>
                </li>


            </ul>
            <!-- 右侧：用户 -->
            <ul class="navbar-nav">
                <li class="nav-item hidden-lg">
                    <a class="nav-link" href="search.htm"><i class="icon-search"></i> 搜索</a>
                </li>
                <li class="nav-item username"><a class="nav-link" href="my.htm"><img class="avatar-1" src="/static/ui/img/pig.jpeg"> wjk</a></li>
                <!-- 管理员 -->

                <li class="nav-item"><a class="nav-link" href="user-logout.htm"><i class="icon-sign-out"></i> 退出</a></li>

            </ul>
        </div>
    </div>
</header>


<main id="body">
    <div class="container">





        <div class="btn-group mb-3 d-lg-none" role="group" id="my_mobile_nav">


            <a role="button" class="btn btn-secondary" data-active="menu-my" href="my.htm">个人资料</a>

        </div>

        <div class="row">
            <!-- 左侧菜单 -->
            <div class="col-lg-2 hidden-md hidden-sm" id="my_aside">
                <div class="card">
                    <div class="card-body text-center">
                        {if $list->avatar}
                        <img src="/{$list->avatar}" alt="">
                        {else/}
                        <img class="avatar-4" src="/static/ui/img/pig.jpeg">
                        {/if}
                        <br>{$list->nickname}
                    </div>
                    <div class="list-group list-group-flush text-center">

                        <a href="{:url('admin/Personal/head')}" class="list-group-item list-group-item-action" data-active="menu-my">个人资料</a>

                    </div>
                </div>
            </div>
            <!-- 右侧内容 -->
            <div class="col-lg-10" id="my_main">

                <div class="card">
                    <div class="card-header">


                        <ul class="nav nav-tabs card-header-tabs">



                            <li class="nav-item">
                                <a class="nav-link " href="{:url('admin/Personal/head',['id'=>$list->id])}" data-active="my-profile">基本资料</a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" href="{:url('admin/Personal/password',['id'=>$list->id])}" data-active="my-password">密码</a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" href="{:url('admin/Personal/datum',['id'=>$list->id])}" data-active="my-avatar">头像</a>
                            </li>



                        </ul>


                    </div>
                    <div class="card-body">


                        <div class="row line-height-4">
                            <div class="col-md-6">
                                <span class="text-muted">主题数：</span>0				<br><span class="text-muted">帖子数：</span>0				<br><span class="text-muted">收藏数：</span><a href="my-favorites.htm" target="_blank">1</a>
                                <br><span class="text-muted">精华数：</span>0			</div>
                            <div class="col-md-6">
                                <span class="text-muted">用户组：</span>一级用户组				<br><span class="text-muted">创建时间：</span>{$list->create_time}
                                <br><span class="text-danger">Email：</span> {$list->mobile}
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>






    </div>
</main>



<footer class="text-muted small bg-dark py-4 mt-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col text-right">

                豫ICP备15013988号			</div>
        </div>
    </div>
</footer>



<!--[if ltg IE 9]>
<script>window.location = 'browser.htm';</script>
<![endif]-->



<script src="/static/ui/xbt/bbs.js?1.0"></script>
<script src="/static/ui/xbt/js/jquery-3.1.0.js?1.0"></script>
<script src="/static/ui/xbt/js/popper.js?1.0"></script>
<script src="/static/ui/xbt/js/bootstrap.js?1.0"></script>
<script src="/static/ui/xbt/js/xiuno.js?1.0"></script>
<script src="/static/ui/xbt/js/bootstrap-plugin.js?1.0"></script>
<script src="/static/ui/xbt/js/async.js?1.0"></script>
<script src="/static/ui/xbt/js/form.js?1.0"></script>
<script>
    var debug = DEBUG = 0;
    var url_rewrite_on = 1;
    var forumarr = {
        "1": "闲聊",
        "2": "PHP",
        "3": "Java",
        "4": "Python",
        "5": "前端",
        "8": "UI",
        "11": "服务器",
        "13": "数据库",
        "9": "相亲",
        "10": "求职招聘"
    };
    var fid = 0;
    var uid = 55;
    var gid = 101;
    xn.options.water_image_url = 'view/img/water-small.png';	// 水印图片 / watermark image
</script>
<script src="/static/ui/xbt/js/bbs.js?1.0"></script>
<script src="http://ss.imshusheng.com/static/editormd/lib/flowchart.min.js?1.0"></script>
<script src="http://ss.imshusheng.com/static/editormd/lib/jquery.flowchart.min.js?1.0"></script>
<script src="http://ss.imshusheng.com/static/editormd/lib/marked.min.js?1.0"></script>
<script src="http://ss.imshusheng.com/static/editormd/lib/prettify.min.js?1.0"></script>
<script src="http://ss.imshusheng.com/static/editormd/lib/raphael.min.js?1.0"></script>
<!--<script src="plugin/gmchina_xiuno_editormd/editormd/lib/sequence-diagram.min.js?1.0"></script>-->
<script src="http://ss.imshusheng.com/static/editormd/lib/underscore.min.js?1.0"></script>
<script src="http://ss.imshusheng.com/static/editormd/lib/xss.min.js?1.0"></script>
<script src="http://ss.imshusheng.com/static/editormd/js/editormd.min.js?1.0"></script>


<script>
    var initEditor;
    $(function() {
        initEditor = editormd("editormd", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: "plugin/gmchina_xiuno_editormd/editormd/lib/",
            imageUpload: true,
            imageFormats: ['jpg','png','bmp','jpeg','gif','webp'],
            imageUploadURL: "plugin/gmchina_xiuno_editormd/upload/local/upload.php",
            crossDomainUpload: false,
            autoHeight: false,
            readOnly: false,
            codeFold: false,
            taskList: false,
            atLink: false,
            emailLink: false,
            tex: false,
            flowChart: false,
            sequenceDiagram: false,
            pageBreak: false    });
    });
</script>
<script>
    // 版主管理：精华
    /*
    $('.mod-button button.digest').on('click', function() {
        var modtid = $('input[name="modtid"]').checked();
        if(modtid.length == 0) return $.alert(lang.please_choose_thread);
        var radios = xn.form_radio('digest', {"0": "取消精华", "1": "一级精华","2": "二级精华", "3": "三级精华"});
        $.confirm("设置主题为精华", function() {
            var tids = xn.implode('_', modtid);
            var digest = $('input[name="digest"]').checked();
            var postdata = {digest: digest};
            $.xpost(xn.url('mod-digest-'+tids), postdata, function(code, message) {
                if(code != 0) return $.alert(message);
                $.alert(message).delay(1000).location('');
            });
        }, {'body': '<p>'+"精华等级"+'：'+radios+'</p>'});
    })*/
</script>

</body>

</html>

<div id="scroll_to_top" class="d-fixed" style="position: fixed; _position: absolute; bottom: 80px; right: 10px; width: 70px; height: 70px; display: none;">
    <a href="javascript:void(0);" style="width: 70px; height: 70px; display: inline-block; background: url(plugin/xn_top/scroll_top.png) no-repeat; outline: none;" title="返回顶部"></a>
</div>

<script>
    // 返回顶部
    var jscroll_to_top = $('#scroll_to_top');
    $(window).scroll(function() {
        if ($(window).scrollTop() >= 500) {
            jscroll_to_top.fadeIn(300);
        } else {
            jscroll_to_top.fadeOut(300);
        }
    });

    jscroll_to_top.on('click', function() {
        $('html,body').animate({scrollTop: '0px' }, 100);
    });
</script><script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?8decc8da034947be30b3c68c6a285254";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>





<script>
    $('a[data-active="menu-my"]').addClass('active');
</script>

<script>
    $('a[data-active="my-profile"]').addClass('active');
</script>